name: native_ai_bridge
description: A Flutter plugin for interacting with Apple's Foundation Models framework, providing on-device AI capabilities.
version: 0.1.0
homepage: https://github.com/AbdurahmanAlmehdi/native_ai_bridge
repository: https://github.com/AbdurahmanAlmehdi/native_ai_bridge
issue_tracker: https://github.com/AbdurahmanAlmehdi/native_ai_bridge/issues

environment:
  sdk: ^3.8.1
  flutter: ">=3.3.0"

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  plugin:
    platforms:
      ios:
        pluginClass: NativeAiBridgePlugin
